body {
  background-color: #fff !important;   
}
h3{
 color: #999;
}

h4{
    font-size: 13px;
    color: #999 ;
    margin: 5px auto;
    text-align: left;
}

hr{
border-bottom: 1px solid #bfbfbf;
}

#homeNav {
    position: fixed;
    top: 0;
    width: 100%;;
    padding:30px 0;
}

    #homeNav span {
        margin-left: 50px;
        float: right;
        display: inline-block;
    }
    
    #homeLogo {
        display: none;
        float: left;
    }
         #homeLogo span {
             margin-left: 0;
         }

#intro {
 color: #fff;   

}

.bg {
    background-image: url(../images/homeImage-1.png) ;  
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    left: 0;
    z-index: -1
}





.section {
    height: 100vh;
}

.right, .left, .center {
    float: left;
    width: 50%;
    min-height: 100vh;
 }

    .center {
        width: 100%;
        margin: 50px 0;
        text-align: center;
        
    }

    .content {
        text-align: center;
        box-sizing: border-box;
        margin-top: 40vh;
    }


#homeFooter {
    bottom: 0;
    padding: 20px 0;
    background-color: #8215d1;
    color: #fff;
    text-align: center;
    clear: both;
}



/* Sections */


    /* Landing */

#about {
    z-index: 4;
}

#landing .content {
    z-index: 2;
    position: fixed;
}

#landing {
    z-index: -2;
}

#landing video {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: url(polina.jpg) no-repeat;
background-size: cover;
opacity: 1;
z-index: -3;  
}

/* About */



#about, #getSomething {
    background-color: #8215d1; 
    color: #fff;
    
}

#doSomething, #joinUs {
 background-color: #fff;   
}
#joinUs.section {  
    height: inherit;
}




