.sectionTitle {
    border-bottom: 1px solid #bfbfbf;
    padding: 10px;
    height: 40px;
    background-color: #fff;
    float: left;
    width: 100%;
    text-align: center;
}
#sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    border-right: 1px solid #bfbfbf;
    width: 25%;
    padding-top: 50px;
}
#singleChatContainer{
    margin-top: 40px;
    
}
    .singleChatItem {
        border-bottom: 1px solid #bfbfbf;
        padding: 15px;
        float: left;
        width: 100%;
    }

        .singleChatItem .userAvator {
            float: left;
            margin-right: 10px;
    }
        .singleChatItem .userName {
            padding: 0;
            vertical-align:;
            display: inline-block;
            width: 100%;
            padding-left: 45px;
            margin-left: -45px;
            float: left;
            white-space: nowrap;
            overflow:hidden !important;
            text-overflow: ellipsis;
    }
        .singleChatItem .context {
            padding: 0;
            display: inline-block;
            width: 100%;
            padding-left: 45px;
            margin-left: -45px;
            float: left;
            white-space: nowrap;
            overflow:hidden !important;
            text-overflow: ellipsis;
    }

/* Main */
#main {
    margin-left: 25%;
    padding-top:50px;
    width: 75%;
    height: 100%;
}

#singleChatroom {
    float: right;
    width: 67%;
    height: 100%;
    margin-top: -40px;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: -40px;
    
}
    #chatContainer{
        width:100%;
        float: left;
        height: 100%;
        margin-bottom: -40px;
        box-sizing: border-box;
        padding: 40px;
    }

        .chatBubble {
            margin: 20px 0;
            
        }
            .chatBubble span {
                padding: 10px;
                color: #fff;
                border-radius: 30px 0px 20px 0;
                line-height: 20px;
                text-align: left;
            }
            .your span {
                background-color: #838586;
                border-radius: 0px 20px 20px 20px;

            }

            .mine span {
                background-color: #8215d1;
                border-radius: 20px 0px 20px 20px;
                
            }
            .chatBubble.your {
                width: 100%;
                float: left;
            }
            
            .chatBubble.mine {
                width: 80%;
                float: right;
            }
    #textField {
        bottom: 0;
        background-color: #838586; 
        margin: 0;
        width:100%;
        float: left;
        height: 40px;
    }

        #textInput {
            background-color: #fff;
            display: inline-block;
            float: left;
            width: 80%;
            height: 100%;
        }

            #textInput input {
                width: 100% !important;
                padding: 0 10px;
                height: 100%;
            }
        
        #singleChatroom form input[type="submit"] {
            float: left;
            width: 20%;
            height: 100% !important;
            border: none;
        }

#sigleChatInfoContainer {
    float: right;
    height: 100%;
    width: 33%;
    margin-top: -40px;
    box-sizing: border-box;
    padding-top: 40px;
    
    
}
    #sigleChatInfo {
        border-left: 1px solid #bfbfbf;
        height: 100%;
        padding: 10px;
        text-align: center;
    }
        #sigleChatInfo .userName {
            width: 100%;
            margin-top: 20px;
        }

