.user-list{
	position: fixed;
	right: 0px;
	top: 0px;
	height: 100%;
	width: 200px;
	background-color: #333;
}
.template{
	display: none !important;
}
.user-list .user{
	position: relative;
	margin: 5px;
	margin-bottom: 10px;
	padding: 5px;
	border-bottom: 1px solid #CCC;
}
.user-list .user .name{
	font-size: 20px;
	line-height: 150%;
	color: #CCC;
	transition: all .5s linear;
}
.user-list .user .message{
	font-size: 14px;
	color: #CCC;
	transition: all .5s linear;
}
.user-list .user:hover .name{
	color: #FFF;
}
.user-list .user:hover .message{
	color: #FFF;
}
.user-list .user .status{
	background-color: #FFF;
	position: absolute;
	right: 10px;
	top: 20px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
}
.user-list .user .status.green{
	background-color: #1C9;
}
.chatbox-list{
	position: fixed;
	bottom: 0px;
	text-align: right;
	width: 100%;
	box-sizing: border-box;
	padding-right: 0px;
}
.messages{
	width: 100%;
	height: 250px;
	overflow: auto;
	background-color: #E9EAED;
}
.chatbox{
	margin-right: 10px;
	font-size: 0;
	width: 262px;
	display: inline-block;
	border: 1px solid #ABB2C1;
	border-bottom: 0px;
	border-radius: 5px 5px 0px 0px;
	overflow: hidden;
	vertical-align: bottom;
}
.chatbox .title{
	background-color: #5C75B0;
	font-size: 16px;
	text-align: left;
	color: #FFF;
	padding: 6px 12px;
}
.chatbox input{
	height: 26px;
	border:none;
	width: 200px;
	vertical-align: top;
	border-top: 1px solid #D1D2D4;
	margin: 0px;
	outline: none;
	padding: 0px 5px;
	font-size: 12px;
	box-sizing: border-box;
}
.chatbox button{
	box-sizing: border-box;
	width: 60px;
	border: none;
	background-color: #5C75B0;
	border-top: 1px solid #D1D2D4;
	color: #FFF;
	font-size: 14px;
	height: 26px;
}

.message .send, .message .receive{
	font-size: 15px;
	color: #333;
	line-height: 20px;
	padding: 2px 8px;
	margin: 4px;
	border-radius: 2px;
	border: 1px solid #ABB1C2;
	background-color: #FFF;
	display: inline-block;
	float: right;
}
.message .receive{
	float: left;
}

.message:after{
	clear: both;
	content: "";
	display: block;
}